body {
  font-family: 'roboto', sans-serif;
}
#heading {
  font-size: 40px;
}
#des {
  font-size: 40px;
}
#sub_button {
  height: 107px;
  width: 320px;
  font-size: 40px;
  margin-right: 17px;
  margin-bottom: 34px;
  background-color: red;
  border-radius: 7px;
  color: white;
  transition: transform 0.2s;
  border: none;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}
#sub_button:hover {

  transform: scale(0.95);
  cursor: pointer;
  background-color: rgb(220,0,0) ;
}
#sub_button:active {
  transform: scale(0.80);
  background-color: rgb(180,0,0) ;
  
}
#join_button {
  margin-top: 34px;
  font-size: 40px;
  height: 107px;
  width: 193px;
  color: blue;
  background-color: white;
  border-width: 3.4px;
  border-color: blue;
  transition: color 0.2s,
  background-color 0.2s,
  box-shadow 0.2s,
  transform 0.2s;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

}
#join_button:hover {
  cursor: pointer;
  color: white;
  background-color: blue;
  box-shadow: 50px 50px 100px 0px rgba(0,0,0,0.3);
}
#join_button:active {
  transform: scale(0.8);
  background-color: rgb(0,0,180);
}
#
